<mat-card class="mt-2">
    <h1 matSubheader>Update Category</h1>
    {{category|json}}
    <mat-card-content>
        <div class="container mt-3">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">

      
        
    
     
     <mat-card-content>
        <form (ngSubmit)="updateCategory()">

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Enter Category Name</mat-label>
          <input matInput placeholder="Category Name " 
          [(ngModel)]="category.category_name"
          name="category_name" required/>
          
        </mat-form-field>

         <mat-form-field appearance="outline" class="w-100">
          <mat-label>Enter Category Description</mat-label>
          <textarea matInput placeholder="Category Description" 
          [(ngModel)]="category.category_description"
          name="category_desc" required cols="25" maxlength="100">
          </textarea>
        </mat-form-field>

         
        <mat-slide-toggle name="popular" class="example-margin" [(ngModel)]="category.popular" >
          Popular Category
        </mat-slide-toggle>
        

        <div class="container mt-5">

            <button type="submit" mat-raised-button color="primary">Update Category</button>

        </div>



      </form>
     </mat-card-content>
      
      
    </div>
  </div>
</div>
    </mat-card-content>
</mat-card>

