<div class="mt-2">
    <mat-card>
        <h1 class="text-center" matSubheader>All Pending Orders</h1>
    </mat-card>

     
       <mat-card class="mt-1" *ngFor="let o of orders">
        
            <button mat-button color="warn" *ngIf="o.order_status != 'COMPLETED'">
                <mat-icon>send</mat-icon> Pending
            </button>
            <button mat-button color="basic" *ngIf="o.order_status == 'COMPLETED'">
                <mat-icon>download_done</mat-icon> Deliverd
            </button>
            <mat-card-header class="mt-1">
                <mat-card-title> Order Amount : {{o.total | currency:'INR'}}</mat-card-title>
                <mat-card-subtitle>
                    User : Suraj Anbhule | Phone:8007702595 | Email:surajanbhule69@gmail.com
                </mat-card-subtitle>
                <mat-card-subtitle>Address : Om Hostel Vadgoan Road, Near Modern Fitness Center Pune, 411041</mat-card-subtitle>
                <mat-card-subtitle>Order Placed : {{o.order_date}}</mat-card-subtitle>
                <mat-card-subtitle>{{o.order_status}}</mat-card-subtitle>
            
                <mat-card-subtitle *ngIf="o.payment_status == 'Cash on delivery'">Payment : <img src="../../../../assets/cash.gif"
                        width="25px" alt=""> {{o.payment_status}}
                </mat-card-subtitle>
                <mat-card-subtitle *ngIf="o.payment_status != 'Cash on delivery'">
                    Payment : <img src="../../../../assets/checkicon.gif" width="25px" alt=""> Paid
                </mat-card-subtitle>

                
            </mat-card-header>
            <mat-card-content>
                
            <h3></h3>
                <mat-list>
                    <mat-list-item *ngFor="let p of o.product_list">
                        <img mat-list-avatar [src]="p.productImages[0].url" alt="">
                        <div matLine>{{p.product_name}}</div>
                        <div matLine>Payable Amount : {{p.product_selling_price | currency:'INR' }}</div>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        
       
            
            
              
        
        <mat-card-actions class="text-center">
            <button color="primary" mat-raised-button>Complete Order</button>
        </mat-card-actions>
        </mat-card>
    
    
       
        
      
       
   

</div>
