<mat-card class="mt-2">
    <h1 matSubheader>Product List</h1>
   
  <div class="button-container">
    <button mat-raised-button color="primary" routerLink="/admin/add-product">
        <mat-icon color="accent">add_circle</mat-icon> New Product
    </button>
 </div>
    <table mat-table [dataSource]="products" class="w-100 mat-elevation-z8">
    
 
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="product_name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element"> {{element.product_name}} </td>
        </ng-container>

        <ng-container matColumnDef="product_price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.product_price | currency:'INR'}} </td>
        </ng-container>

        <ng-container matColumnDef="product_discount">
            <th mat-header-cell *matHeaderCellDef> Discount </th>
            <td mat-cell *matCellDef="let element"> {{element.product_discount}} </td>
        </ng-container>

        <ng-container matColumnDef="product_selling_price">
            <th mat-header-cell *matHeaderCellDef> Selling Price </th>
            <td mat-cell *matCellDef="let element"> {{element.product_selling_price | currency:'INR'}} </td>
        </ng-container>

        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let element"> {{element.category.category_name}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> actions </th>
            <td mat-cell *matCellDef="let element"> 
                <mat-icon color="warn" (click)="deleteProduct(element.id)">delete</mat-icon>
                <mat-icon class="ms-1" color="primary" [routerLink]="'/admin/update-product/'+element.id">edit</mat-icon>
                <mat-icon class="ms-1" (click)="showImages(element)">images</mat-icon>
            </td>
        </ng-container>
    

    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter</td>
        </tr>
        
    </table>






    <!--  Product list -> using mat list
        
        <mat-list *ngIf="false">
        
        
        <mat-list-item class="product-box" *ngFor="let p of products" >
            
            <div mat-line>{{p.product_name}}</div>
            <h3 mat-line style="font-weight:bold">{{p.category.category_name}}</h3>
            <div mat-line>{{p.product_price|currency:'INR'}} <sub>Price</sub> | {{p.product_discount/100|percent}} <sub>Discount</sub> | {{p.product_selling_price|currency:'INR'}} <sub>Selling Price</sub> | {{p.product_stock}} <sub>Product Stock Remaining</sub></div>
            <div mat-line>
                <button mat-icon-button (click)="deleteProduct(p.id)">
                    <mat-icon color="warn">delete</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon color="primary" [routerLink]="'/admin/update-product/'+p.id">edit</mat-icon>
                </button>

                <button mat-icon-button>
                    <mat-icon color="primary" [matTooltip]="p.product_description">description</mat-icon>
                </button>
            </div>
            <ng-container *ngFor="let image of p.productImages">
              <img [src]="image.url" alt="" width="75px" class="image-preview" >
            </ng-container>
            <button mat-button (click)="showImages(p)">
                <mat-icon color="primary"  matTooltip="show preview">visibility</mat-icon>
                view
            </button>
            
            
            
            <mat-divider></mat-divider>
           
        </mat-list-item>
       
        
    </mat-list>
</mat-card> -->
