.nav-spacer {
    flex: 1 1 auto;
}

.app-title-color {
    color: #00C853;
    font-size: x-large;
    font-weight: bold;
    font-display: inherit;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dashboard{
    color: #00C853;
}

.search-box{
    background-color: white;
}



