<mat-toolbar color="primary" class="m-auto" sticky>
  <span class="app-title-color" routerLink="" mat-card-title > 
    <img src="./../../../assets/logo.jpg" alt="" 
        width="30px" 
        style="background-color: white ;"
        routerLink="">
     MEDICARE
  </span>
  <span class="nav-spacer"></span>

      <input type="text" placeholder="Search Products Here..." class="search-input-box">
      <button mat-raised-button class="search-btn"><mat-icon color="primary">search</mat-icon></button>
      
  <span class="nav-spacer"></span>

<button mat-button *ngIf="isLoggedIn && user && products_in_cart" (click)="showCart()" >
  Cart <mat-icon [matBadge]="products_in_cart"  class="demo-section" matBadgeColor="accent">shopping_cart</mat-icon>
</button>

<button color="basic" *ngIf="isLoggedIn && user && isAdmin"
          mat-button
          (click)="openDashboard()">
    <mat-icon matTooltip="Go To Dashboard">admin_panel_settings</mat-icon>
    Dashboard      
</button>

<button color="basic"  *ngIf="isLoggedIn && user && isNormal" mat-button (click)="openDashboard()">
  <mat-icon>account_circle</mat-icon>
  {{user.first_name}} {{user.last_name}}
</button>



  <a *ngIf="!isLoggedIn "
     mat-icon-button 
     routerLink="login">
    <mat-icon>login</mat-icon>
    Login
</a>

   <a    *ngIf="!isLoggedIn"
          mat-icon-button 
          class="me-5 ms-5"
          routerLink="register">
    <mat-icon> account_circle </mat-icon>
    Register
</a>




  
</mat-toolbar>
