<mat-toolbar color="primary" class="m-auto">
  <span class="app-title-color" routerLink="" mat-card-title > 
    <img src="./../../../assets/logo.jpg" alt="" 
        width="30px" 
        style="background-color: white ;"
        routerLink="">
     MEDICARE
  </span>
  <span class="nav-spacer"></span>

<button mat-button *ngIf="isLoggedIn && user && products_in_cart" (click)="showCart()" >
  Cart <mat-icon [matBadge]="products_in_cart"  class="demo-section" matBadgeColor="accent">shopping_cart</mat-icon>
</button>

<a    *ngIf="isLoggedIn && user"
          mat-button
          (click)="openDashboard()">
    <img src="./../../../assets/account_icon.png" alt="" 
        width="35px" 
        matTooltip="Go To Dashboard">    
</a>



  <a *ngIf="!isLoggedIn "
     mat-icon-button 
     routerLink="login">
    <mat-icon>login</mat-icon>
    Login
</a>

   <a    *ngIf="!isLoggedIn"
          mat-icon-button 
          class="me-5 ms-5"
          routerLink="register">
    <mat-icon> account_circle </mat-icon>
    Register
</a>




  
</mat-toolbar>
