<div class="container mt-3">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">

            <mat-card class="bg-light mb-3">

                <mat-card-title>
                    <div class="container text-center">
                        <img src="./../../../assets/logo.jpg" alt="medicare" width="75px" />
                    </div>
                    <h1 class="text-center">Change Password</h1>
                </mat-card-title>

                <mat-card-content>
                    <form (ngSubmit)="changePassword()">

                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Current Password</mat-label>
                            <input matInput placeholder="Current Password" [(ngModel)]="current_password" name="current-password"
                                required />
                            
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>New Password</mat-label>
                            <input matInput placeholder="New Password" [(ngModel)]="new_password" name="password"
                                required  />
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Confrim Password</mat-label>
                            <input matInput 
                                   placeholder="Confirm Password"
                                   [(ngModel)]="confirm_password"
                                   name="password" 
                                   required
                                   (keyup)="compare()"
                                />
                            <mat-hint *ngIf="!status" class="error">
                                New Password & Confirm Must Be Same 
                            </mat-hint>
                        </mat-form-field>
                        



                        <div class="container mt-3">

                            <button type="submit" mat-raised-button color="primary">Change Password</button>

                        </div>



                    </form>
                </mat-card-content>
            </mat-card>

        </div>
    </div>
</div>

