
mat-card{
    border: 1.5px solid grey;
}



.categories{
    border: 1.5px solid grey;
    background: white;
}

.discount{
    position: absolute;
    top:-50;
    left: -10;
}

.menu{
    border-bottom: 1px solid lightgrey;
}

.cart{
    color: green;
}