<div class="row ">




    <div class="col-md-12 ">



        <div class="row row-cols-1 row-cols-md-6 ms-5 mt-2 mb-5">
            <mat-card *ngFor="let p of products" class="ms-2 mt-1">

                <mat-card-header class="text-center">

                </mat-card-header>
                <mat-card-content class="text-center">
                    <img (click)="showDetails(p)" [src]="p.productImages[0].url" alt="" width="75px" height="75px">
                    <mat-divider></mat-divider>
                    <mat-card-subtitle class="mt-1" (click)="showDetails(p)">
                        {{p.product_name|productTitle}}
                        <span *ngIf="p.product_name.length >= 35" [matTooltip]="p.product_name">...</span>
                        <span class="empty-space" *ngIf="p.product_name.length <= 22">..........</span>
                    </mat-card-subtitle>

                    <div matLine>
                        Price: {{p.product_selling_price|currency:'INR'}}
                        <s class="ms-1"
                            *ngIf="p.product_selling_price != p.product_price">{{p.product_price|currency:'INR'}}</s>
                    </div>
                    <span class="discount" *ngIf="p.product_discount">
                        Upto {{p.product_discount/100|percent}} off
                    </span>
                    <span class="no-discount" *ngIf="! p.product_discount">
                        Upto {{p.product_discount/100|percent}} off
                    </span>
                </mat-card-content>
                <mat-card-actions class="text-center">
                    <button mat-button color="primary" (click)="addToCart(p)" *ngIf="!productInCart(p.id)">
                        <mat-icon>add_shopping_cart</mat-icon>

                        Add To Cart
                    </button>
                    <button mat-flat-button class="cart" (click)="gotoCart()" *ngIf="productInCart(p.id)">
                        <mat-icon class="cart">check</mat-icon>
                        Go To Cart
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="row row-cols-1 row-cols-md-6 ms-5 mt-1 mb-5">
            <mat-card *ngFor="let p of rel_products" class="ms-2 mt-1">
        
                <mat-card-header class="text-center">
        
                </mat-card-header>
                <mat-card-content class="text-center">
                    <img (click)="showDetails(p)" [src]="p.productImages[0].url" alt="" width="75px" height="75px">
                    <mat-divider></mat-divider>
                    <mat-card-subtitle class="mt-1" (click)="showDetails(p)">
                        {{p.product_name|productTitle}}
                        <span *ngIf="p.product_name.length >= 35" [matTooltip]="p.product_name">...</span>
                        <span class="empty-space" *ngIf="p.product_name.length <= 22">..........</span>
                    </mat-card-subtitle>
        
                    <div matLine>
                        Price: {{p.product_selling_price|currency:'INR'}}
                        <s class="ms-1"
                            *ngIf="p.product_selling_price != p.product_price">{{p.product_price|currency:'INR'}}</s>
                    </div>
                    <span class="discount" *ngIf="p.product_discount">
                        Upto {{p.product_discount/100|percent}} off
                    </span>
                    <span class="no-discount" *ngIf="! p.product_discount">
                        Upto {{p.product_discount/100|percent}} off
                    </span>
                </mat-card-content>
                <mat-card-actions class="text-center">
                    <button mat-button color="primary" (click)="addToCart(p)" *ngIf="!productInCart(p.id)">
                        <mat-icon>add_shopping_cart</mat-icon>
        
                        Add To Cart
                    </button>
                    <button mat-flat-button class="cart" (click)="gotoCart()" *ngIf="productInCart(p.id)">
                        <mat-icon class="cart">check</mat-icon>
                        Go To Cart
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>


    </div>

</div>

