<button mat-raised-button mat-dialog-close color="accent">
    <mat-icon>close</mat-icon>
</button>

<mat-stepper [labelPosition]="'bottom'">
    <mat-step editable="false" completed="true" >
       <ng-template matStepLabel>Address</ng-template>
       

        <button mat-button matStepperNext >Next</button>
    </mat-step>

    <mat-step>

        <ng-template matStepLabel>Payment</ng-template>
        
        <button mat-button matStepperNext>Next</button>
    
    </mat-step>

    <mat-step class="text-center">

        <ng-template matStepLabel>Order Placed</ng-template>
        
        <div class="container text-center">
        <h1><img src="./../../../../assets/checkicon.gif" width="50px" alt="gif not supported" >
            Order Confirmed, Delivery expected soon</h1>
            <button mat-button mat-dialog-close>close</button>
        </div>
        
    
    </mat-step>
</mat-stepper>
